.appPageBasket{
  padding: 57px 64px;
  width: 92%;
  margin: 0 auto;
  .line{
    height: 1px;
    background: #F4F4F4;
    margin: 30px;
  }
  .appLogo{
    img{
      width: 32px;
      height: 40px;
    }
  }
}